<div class="gallery-card">

  <div class="gallery-header">
    <div class="header-icon">
      <i class="fa-solid fa-images"></i>
    </div>
    <h2>GALLERY</h2>
  </div>

  <div class="gallery-grid">
    <div
      class="photo-item"
      *ngFor="let photo of photos; let i = index"
      [class]="'photo-' + (i + 1)"
      (click)="openImage(photo)"
    >
      <img
        [src]="photo.url"
        [alt]="photo.title"
      />
    </div>
  </div>

</div>

<!-- Image Popup -->
<div
  class="image-modal"
  *ngIf="selectedPhoto"
  (click)="closeImage()"
>
  <button
    class="modal-close"
    (click)="closeImage(); $event.stopPropagation()"
    aria-label="Close image"
  >
    <i class="fa-solid fa-xmark"></i>
  </button>

  <img
    class="modal-image"
    [src]="selectedPhoto.url"
    [alt]="selectedPhoto.title"
    (click)="$event.stopPropagation()"
  />
</div>