<section class="contact-section">

  <div class="contact-container">

    <!-- LEFT SIDE -->
    <div class="contact-info" data-aos="fade-right" data-aos-duration="800">

      <p class="subtitle" data-aos="fade-right" data-aos-duration="1000">
        GET IN TOUCH
      </p>

      <h1 class="title">CONTACT US</h1>

      <h5 class="hear-text">We'd love to hear from you</h5>


      <div class="info-item">

        <div class="icon">
          <img width="40" height="40"
               src="icons/icons8-location-40.png"
               alt="marker"/>
        </div>

        <div class="info-text">
          <h4>LOCATION</h4>
          <p>
            Faculty of Engineering, Cairo University <br>
            Giza, Egypt
          </p>
        </div>

      </div>

      <hr>


      <div class="info-item">

        <div class="icon">
          <img width="48" height="48"
               src="icons/icons8-email-50.png"
               alt="email"/>
        </div>

        <div class="info-text">
          <h4>EMAIL</h4>
          <p>
            <a href="mailto:asme.cairouniversity@gmail.com">
              asme.cairouniversity@gmail.com
            </a>
          </p>
        </div>

      </div>

      <hr>


      <div class="info-item">

        <div class="icon">
          <img width="94" height="94"
               src="icons/icons8-facebook-logo-50.png"
               alt="facebook-logo"/>
        </div>

        <div class="info-text">
          <h4>FACEBOOK</h4>
          <p>
            <a href="https://www.facebook.com/share/1D14yes9jK/"
               target="_blank"
               rel="noopener noreferrer">
              ASMECAIRO
            </a>
          </p>
        </div>

      </div>

      <hr>


      <div class="info-item">

        <div class="icon">
          <img width="94" height="94"
               src="icons/instagram-logo.png"
               alt="instagram-logo"/>
        </div>

        <div class="info-text">
          <h4>INSTAGRAM</h4>
          <p>
            <a href="https://www.instagram.com/asme_cairo?igsh=aXBlbzhjdW9m"
               target="_blank"
               rel="noopener noreferrer">
              asme_cairo
            </a>
          </p>
        </div>

      </div>

      <hr>


      <div class="info-item">

        <div class="icon">
          <img width="48" height="48"
               src="icons/icons8-linkedin-50.png"
               alt="linkedin"/>
        </div>

        <div class="info-text">
          <h4>LINKEDIN</h4>
          <p>
            <a href="https://www.linkedin.com/company/asme-cairo-university/"
               target="_blank"
               rel="noopener noreferrer">
              asme-cairo-university
            </a>
          </p>
        </div>

      </div>

    </div>


    <!-- RIGHT SIDE -->
    <div class="contact-form"
         data-aos="fade-down"
         data-aos-duration="1200">

      <form>

        <div class="row">

          <div class="input-group">
            <label>FULL NAME</label>
            <input type="text" placeholder="Ahmed Mohamed">
          </div>

          <div class="input-group">
            <label>EMAIL</label>
            <input type="email" placeholder="[email protected]">
          </div>

        </div>

        <div class="input-group">
          <label>SUBJECT</label>
          <input type="text" placeholder="What is this about?">
        </div>

        <div class="input-group">
          <label>MESSAGE</label>
          <textarea rows="6" placeholder="Your message..."></textarea>
        </div>

        <button class="send-btn" type="submit">
          SEND MESSAGE
        </button>

      </form>

    </div>

  </div>

</section>