<section class="contact-section">

  <div class="contact-container">

    <div class="contact-info" data-aos="fade-up" data-aos-duration="800">

      <div class="contact-header">
        <p class="subtitle">
          <span>—</span> GET IN TOUCH
        </p>

        <h1 class="title">CONTACT US</h1>

        <p class="hear-text">
          We'd love to hear from you.
        </p>
      </div>


      <div class="contact-details">

        <!-- LOCATION -->
        <div class="info-item">
          <div class="icon">
            <img src="icons/icons8-location-40.png" alt="Location">
          </div>

          <div class="info-text">
            <h4>LOCATION</h4>
            <p>
              Faculty of Engineering, Cairo University<br>
              Giza, Egypt
            </p>
          </div>
        </div>


        <!-- EMAIL -->
        <div class="info-item">
          <div class="icon">
            <img src="icons/icons8-email-50.png" alt="Email">
          </div>

          <div class="info-text">
            <h4>EMAIL</h4>
            <p>
              <a href="mailto:asme.cairouniversity@gmail.com">
                asme.cairouniversity@gmail.com
              </a>
            </p>
          </div>
        </div>


        <!-- FACEBOOK -->
        <div class="info-item">
          <div class="icon">
            <img src="icons/icons8-facebook-logo-50.png" alt="Facebook">
          </div>

          <div class="info-text">
            <h4>FACEBOOK</h4>
            <p>
              <a
                href="https://www.facebook.com/share/1D14yes9jK/"
                target="_blank"
                rel="noopener noreferrer">
                ASMECAIRO
              </a>
            </p>
          </div>
        </div>


        <!-- INSTAGRAM -->
        <div class="info-item">
          <div class="icon">
            <img src="icons/instagram-logo.png" alt="Instagram">
          </div>

          <div class="info-text">
            <h4>INSTAGRAM</h4>
            <p>
              <a
                href="https://www.instagram.com/asme_cairo?igsh=aXBlbzhjdW9m"
                target="_blank"
                rel="noopener noreferrer">
                asme_cairo
              </a>
            </p>
          </div>
        </div>


        <!-- LINKEDIN -->
        <div class="info-item">
          <div class="icon">
            <img src="icons/icons8-linkedin-50.png" alt="LinkedIn">
          </div>

          <div class="info-text">
            <h4>LINKEDIN</h4>
            <p>
              <a
                href="https://www.linkedin.com/company/asme-cairo-university/"
                target="_blank"
                rel="noopener noreferrer">
                asme-cairo-university
              </a>
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>

</section>